<template>
	<Panel :title="'Dashboard'" :icon="'ti-home'" :loading="loading">
		<ul v-if="users.length > 0">
			<li v-for="user in users" :key="user">
				<router-link :to="'/profile/' + user.UserID">{{ user.FullName }}</router-link>
			</li>
    </ul>
    <ul v-else-if="!loading">
			<li>None</li>
		</ul>
	</Panel>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Panel } from "@/components";

@Component({
  components: {
    Panel
  }
})
export default class Dashboard extends Vue {
  get users(): Array<any> {
    return this.$store.state.user.list.data;
  }
  get loading(): Boolean {
    return this.$store.state.user.list.loading;
  }

  mounted(): void {
    this.$store.dispatch('user/fetch_all');
    this.$store.dispatch('nav/reload');
  }
}
</script>

<style>

</style>