<template>
	<Panel :title="'Uh-oh'">
		404: The panel you are after does not exist.<br/>
    <router-link to="/">Go home.</router-link>
	</Panel>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Panel } from "@/components";

@Component({
  components: {
    Panel
  }
})
export default class Invalid extends Vue {
}
</script>

<style>

</style>