<template>
	<Panel :title="'Login'" :icon="'ti-unlock'" :loading="loading">
		<div class="w-full sm:w-1/2 md:w-64 p-4 sm:p-0 mx-auto">
			<Field type="text" label="Email" name="email" v-model="email" :validation="validation.email"></Field>
			<Field type="password" label="Password" name="password" v-model="password" :validation="validation.password" @keyup.enter="login" ></Field>
			<hr />
			<button class="button float-right" @click="login" :class="{loading: loading, disabled: !validation.$all}">Save</button>
		</div>
	</Panel>
</template>

<script lang="ts">
import { Component, Prop, Vue, Mixins } from "vue-property-decorator";
import { Panel, Field } from "@/components";
import { Validation, Validators } from "@/validation.ts";

@Component({
  components: {
    Panel, Field
  }
})
export default class Login extends Mixins(Validation) {
  public email: any = null;
  public password: any = null;
  public loading: Boolean = false;

  mounted(): void {
    this.$store.dispatch('nav/reload');
  }

  async login(): Promise<void> {
    if (!this.validation.$all) {
      return;
    }

    this.loading = true;

    let {email, password} = this.$data;
    let result = await this.$request.post('user/login', {email, password});

    if (!result.Success) {
      this.$notify({
        type: "error",
        text: "Login Failed.",
      });
      this.loading = false;
      return;
    }

    this.$notify({
      type: "success",
      text: "Login Successful!",
    });

    let redirectTo = new URL(window.location.toString()).searchParams.get('redirectTo');
    this.$router.push(redirectTo || '/');
  }

  public validation: any = {
    email: [
      Validators.required,
      Validators.or(
        Validators.email,
        Validators.equal('system')
      ),
    ],
    password: [
      Validators.required,
      Validators.minLength(4),
    ],
  }
}
</script>

<style>

</style>