<template>
	<Panel :title="'Logout'" :icon="'ti-unlock'" :loading="true">
		{{ loading ? "logging out..." : "redirecting..." }}
	</Panel>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Panel } from "@/components";

@Component({
  components: {
    Panel
  }
})
export default class Spinner extends Vue {
  private loading: boolean = true;

  async mounted(): Promise<void> {

    await Promise.all([
      this.timeoutPromise(1000),
      this.$request.get("/user/logout"),
    ]);

    this.loading = false;
    this.$store.state.loading = true;

    await this.timeoutPromise(1000);

    this.$router.push('/login'); 
    this.$store.state.loading = false;
  }

  private timeoutPromise(millis: number): Promise<void> {
    return new Promise(resolve => {
        setTimeout(() => {
          resolve();
        }, millis);
    });
  }
}
</script>
