<template>
  <nav>
    <div class="logo">
      <router-link :to="'/'" class="icon ti-bolt-alt"></router-link>
    </div>
    <ul v-if="items.length > 0">
      <li
        v-for="item in items"
        :key="item.Path"
        :class="{ selected: isActive(item.Path) }"
      >
        <router-link
          :to="item.Path"
          class="icon"
          :class="'ti-' + item.Icon"
          :title="item.Text"
        ></router-link>
      </li>
    </ul>
    <ul v-else-if="loading">
      <li>
        <Spinner></Spinner>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Spinner } from "@/components";

@Component({
  components: {
    Spinner
  }
})
export default class Nav extends Vue {
  @Prop() private show!: Boolean;

  get items() {
    return this.$store.getters['nav/items'].data;
  }
  get loading() {
    return this.$store.getters['nav/items'].loading;
  }

  isActive(path: string): Boolean {
    return this.$route.path == path;
  }
}
</script>

<style lang="scss">
nav {
  --nav-width: theme('spacing.16');

  @apply 
    fixed inset-y-0 left-0
    bg-light text-dark
  ;
  width: var(--nav-width);
  box-shadow: calc(var(--nav-width) / -4) 0 calc(var(--nav-width) / 2) calc(var(--nav-width) / 8) black;
  z-index: 1;

  > .logo {
    @apply w-full h-24;

    > .icon {
      @apply 
        inline-block w-full
        font-bold text-primary text-center no-underline
      ;
      font-size: theme('spacing.20');
      line-height: theme('spacing.24');
      margin-left: calc((theme('spacing.20') - theme('spacing.24')) / 2);
    }
  }

  > ul {
    @apply p-0 m-0;

    > li {
      @apply
        block p-0 m-0
        relative left-0 top-0
        w-16 h-16
      ;
      box-sizing: content-box;

      &.selected {
        @apply bg-dark pl-1;

        > .icon {
          @apply bg-secondary text-light;
        }
      }

      + li {
        margin-top: theme('spacing.px');
      }

      > .icon {
        @apply block text-center font-bold no-underline outline-none;
        font-size: theme('spacing.6');
        line-height: theme('spacing.16');
      }
    }
  }

  .loading-spinner {
    font-size: calc(var(--nav-width) / 2);
    margin: 0 calc(var(--nav-width) / 4);
    opacity: 0.5;
  }
}
</style>
