<template>
  <Panel :title="'Profile'" :icon="'ti-id-badge'" :loading="loading">
    <div v-if="user.UserID || !loading" class="w-full md:w-3/4 xl:w-1/2 p-4 md:p-0 mx-auto">
      <Field type="text" label="DisplayName" name="DisplayName" v-model="user.DisplayName" :validation="validation.user.DisplayName"></Field>
      <Field type="text" label="FullName" name="FullName" v-model="user.FullName" :validation="validation.user.FullName"></Field>
      <Field type="text" label="Email" name="Email" v-model="user.Email" :validation="validation.user.Email"></Field>
      <Field type="checkbox" label="Active" name="Active" v-model="user.Active"></Field>
      <hr />
      <button class="button float-right" @click="save" :class="{loading: loading, disabled: !validation.$all}">Save</button>
    </div>
  </Panel>
</template>

<script lang="ts">
import { Component, Prop, Mixins, Vue } from "vue-property-decorator";
import { Validation, Validators } from "@/validation.ts";
import { Panel, Field } from "@/components";

@Component({
  components: {
    Panel, Field
  }
})
export default class Profile extends Mixins(Validation) {
  @Prop() public id!: string;

  get user(): Array<any> {
    return this.$store.state.user.profile.data;
  }
  get loading(): Boolean {
    return this.$store.state.user.profile.loading;
  }

  mounted(): void {
    this.$store.dispatch('user/fetch_profile', this.id);
    this.$store.dispatch('nav/reload');
  }

  async save(): Promise<void> {
    if (!this.validation.$all) {
      return;
    }

    await this.$store.dispatch('user/save_profile', this.user);

    this.$notify({
      text: "The profile has been saved",
    });
  }

  public validation: any = {
    user: {
      DisplayName: [
        Validators.required,
        Validators.minLength(5),
      ],
      FullName: [
        Validators.required,
        Validators.minLength(5),
      ],
      Email: [
        Validators.required,
        Validators.or(
          Validators.email,
          Validators.equal('system')
        ),
      ],
    },
  };
}

</script>
