<template>
	<Spinner></Spinner>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Spinner } from "@/components";

@Component({
  components: {
    Spinner
  }
})
export default class Root extends Vue {
  mounted() {
    this.$router.push('/dashboard');
  }
}
</script>
