<template>
	<label class="app-field">
		<b>{{ label }}<span class="app-field-required" v-if="validation.required"></span>:</b>
		<div>
			<div v-if="validation.valid" class="validation-icon valid ti-check" ></div>
			<div v-else class="validation-icon invalid ti-close"></div>

			<select v-if="type == 'select'" class="input" ref="field" :name="name" :value="value" :class="{'invalid': !validation.valid}" v-on="inputListeners">
				<option value="1">One</option>
			</select>
			<textarea v-else-if="type == 'textarea'" class="input" ref="field" :name="name" :value="value" :class="{'invalid': !validation.valid}" v-on="inputListeners"></textarea>
			<input v-else-if="type == 'checkbox'" class="input" ref="field" type="checkbox" :name="name" value="1" :class="{'invalid': !validation.valid}" :checked="!!value" v-on="inputListeners" />
			<input v-else class="input" ref="field" :type="type" :name="name" :value="value" :class="{'invalid': !validation.valid}" v-on="inputListeners" />
			<div class="validation-msg" v-if="!validation.valid">{{ validation.message }}</div>
		</div>
	</label>
</template>

<script lang="ts">
import { Component, Prop, Model, Vue } from "vue-property-decorator";

@Component
export default class Field extends Vue {
  @Model('input') value!: any;
  @Prop() type!: String;
  @Prop() label!: String;
  @Prop() name!: String;
  @Prop() validation?: any = {
    required: false,
    valid: true,
  };

  public get inputListeners(): Object {
    return Object.assign({}, this.$listeners, {
      input: (e: any) => {
        return this.$emit('input', e.target.value);
      }
    });
  }
}
</script>
