<template>
    <div class="fieldset">
        <slot></slot>
        <hr />
        <button @click="submit">Save</button>
    </div>
</template>

<script>
    define('component/fieldset', function () {
        return Vue.component('app-fieldset', {
            template: template,
            methods: {
                submit: function () {
                    var data = {};
                    for (var i = 0; i < this.$children.length; i++) {
                        var element = this.$children[i];
                        data[element.name] = element.value;
                    }

					this.$emit('submit', data);
                }
            }
        });
    });
</script>

<style>

</style>
