<template>
	<section class="panel">
		<h1>
      <span v-if="icon" :class="icon" class="icon"></span>
      <span class="text">{{ title }}</span>
      <Spinner :show="!!loading || $store.state.user.self.loading"></Spinner>
    </h1>
		<div class="panel-content">
			<slot></slot>
		</div>
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Spinner from "@/components/Spinner.vue";

@Component({
  components: {
    Spinner
  }
})
export default class Panel extends Vue {
  @Prop() private title!: String;
  @Prop() private icon?: String;
  @Prop() private loading?: Boolean;
}
</script>

<style lang="scss">
.panel {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.panel > h1 {
  @apply
    p-0 mx-0 my-12 h-24 w-auto
    font-bold text-light
    bg-dark
  ;
  line-height: 7rem;
  font-size: 10rem;
  letter-spacing: -1.5rem;
  box-sizing: border-box;
  white-space: nowrap;
  box-shadow: 0 0 1rem #222;
  text-shadow: 0 0 1rem #222;
}
.panel > h1 > .icon {
  font-size: 5rem;
  font-weight: bold;
  margin-left: 1rem;
  line-height: 5.7rem;
	display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  width: 5rem;
}
.panel > h1 > .loading-spinner {
  font-size: 2rem;
  margin: 2rem 4% 0 0;
	position: absolute;
	top: 3rem;
	left: calc(100% - 4rem);
}
.panel > h1 > .loading-spinner:after {
  box-shadow: 0 0 1em 0.1em theme("colors.light");
}
.panel > .panel-content {
  padding: 0 1rem;
}
</style>