<template>
  <div
    class="ti-bolt-alt loading-spinner"
    :class="{ 'visible-yes': show, 'visible-no': !show }"
  ></div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({})
export default class Spinner extends Vue {
  @Prop({default: true}) show?: Boolean;
}
</script>

<style lang="scss">
.loading-spinner {
  @apply .inline-block .relative .top-0 .left-0 .w-16 .h-0;
  font-size: theme("spacing.16");

  &:before {
    @apply
      .text-left .text-light
      .block .absolute .top-0 .left-0
    ;
    z-index: 1;
    width: 1em;
    height: 1em;
    animation: lightning 3s steps(1, end) infinite;
  }
  &:after {
    content: "";
    @apply
      bg-dark rounded-full
      block absolute top-0 left-0
    ;
    width: 1em;
    height: 1em;
  }
}

@keyframes lightning {
  0%  { transform: scale(1.5) translate(    0em,     0em); text-shadow:     0em     0em 0em theme("colors.transparent"); color: white; }

  20% { transform: scale(1.3) translate(-0.05em,  0.05em); text-shadow:  0.05em -0.05em 0em white; color: theme("colors.primary"); }
  22% { transform: scale(1.2) translate(    0em, -0.05em); text-shadow: -0.05em  0.05em 0em theme("colors.primary"); color: white; }
  24% { transform: scale(1.6) translate( 0.05em, -0.05em); text-shadow: -0.05em -0.05em 0em theme("colors.primary"); color: white; }
  26% { transform: scale(1.5) translate(    0em,     0em); text-shadow:     0em     0em 0em theme("colors.transparent"); color: white; }

  54% { transform: scale(1.6) translate( 0.05em, -0.05em); text-shadow:  0.05em     0em 0em white; color: theme("colors.primary"); }
  56% { transform: scale(1.7) translate( 0.05em,     0em); text-shadow: -0.05em     0em 0em theme("colors.primary"); color: white; }
  58% { transform: scale(1.3) translate( 0.05em, -0.05em); text-shadow:     0em  0.05em 0em theme("colors.primary"); color: white; }
  60% { transform: scale(1.5) translate(    0em,     0em); text-shadow:     0em     0em 0em theme("colors.transparent"); color: white; }

  90% { transform: scale(1.4) translate( 0.05em, -0.05em); text-shadow: -0.05em -0.05em 0em white; color: theme("colors.primary"); }
  91% { transform: scale(1.5) translate(    0em,     0em); text-shadow:     0em     0em 0em theme("colors.transparent"); color: white; }
}
</style>