<template>
	<Panel :title="'Admin Dashboard'" :icon="'ti-stats-up'" :loading="loading">
    @TODO widgets
	</Panel>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Panel } from "@/components";

@Component({
  components: {
    Panel
  }
})
export default class AdminDashboard extends Vue {
  get widgets(): Array<any> {
    return this.$store.state.admin.dashbaord.widgets.data;
  }
  get loading(): Boolean {
    return this.$store.state.admin.dashboard.widgets.loading;
  }

  mounted(): void {
    this.$store.dispatch('admin/dashboard/fetch_widgets');
    this.$store.dispatch('nav/reloadAdmin');
  }
}
</script>

<style>

</style>