html, body {
  font-family: Bahnschrift, sans-serif;
  padding: 0;
  margin: 0;
}

#bg {
  @apply fixed text-light font-bold;
  top: -20rem;
  left: -24rem;
  z-index: -1;
  font-size: 80rem;
}

#main {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 4rem; /* nav width */
  overflow: hidden;
}

hr {
  @apply border-solid border-secondary border-t-2 my-2;
}

.button {
  @apply
    relative top-0 left-0
    rounded border-solid border-dark border-2
    bg-light text-dark font-bold
    cursor-pointer
    px-4 py-1
  ;
  font-size: theme('spacing.4');

  &:focus, &:hover {
    @apply outline-none border-solid border-2;
    border-color: var(--color-focus);
    box-shadow: 1px 1px 0.5rem black;
  }

  &.disabled, &.disabled:hover, &.disabled:focus, &.disable:active, &.disable:visited {
    @apply border-dark opacity-50 outline-none shadow-none cursor-default;
  }

  &.loading {
    box-shadow: none;
    text-shadow: none;
    cursor: not-allowed !important;

    &:before {
      content: "";
      @apply block absolute inset-0 cursor-not-allowed;
      background-color: black;
      opacity: 0.5;
    }
  }
}

.app-field {
  padding: 0 1rem;
}
.app-field + .app-field {
  padding-top: 0.6rem;
}
.app-field,
.app-field > div {
  display: block;
  position: relative;
  top: 0;
  left: 0;
}
.app-field .app-field-required {
  float: left;
}
.app-field .app-field-required:before {
  content: "*";
}
.app-field > div > .input {
  box-sizing: border-box;
  border: solid 2px #666;
  border-radius: 0.2rem;
  padding: 0.4rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1rem;
}
.app-field > div > .input:focus {
  border: solid 2px #4AF;
  box-shadow: 0 0 0.2rem black;
  outline: none;
}
.app-field > div > .input.invalid {
  border: solid 2px #A42;
  box-shadow: 0 0 0.2rem #A42;
}
.app-field > div > .input:focus + .validation-msg,
.app-field > div > .input:hover + .validation-msg {
  display: block;
}
.app-field > div > .validation-icon,
.app-field > div > .validation-icon {
  position: absolute;
  top: 5px;
  left: 4px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  width: 16px;
  height: 15px;
  line-height: 15px;
  vertical-align: middle;
  background-color: #666;
  border-radius: 0.2rem;
  overflow: hidden;
  color: white;
  z-index: -1;
  transition: left 100ms ease-out, opacity 100ms ease-out;
  opacity: 1;
}
.app-field > div > .validation-icon.valid {
  background-color: #4A4;
  transition-duration: 1s;
  transition-delay: 1s;
  opacity: 0;
}
.app-field > div > .validation-icon.invalid {
  background-color: #A42;
  box-shadow: 0 0 0.2rem #A42;
  left: -18px;
}
.app-field > div > .validation-msg {
  display: none;
  position: absolute;
  top: 0;
  left: 101%;
  width: 120px;
  height: auto;
  padding: 0.4rem;
  font-weight: normal;
  color: #A42;
  background: white;
  border: 2px solid #A42;
  box-shadow: 0 0 0.2rem #A42;
  border-radius: 0.2rem;
  font-size: 1rem;
  line-height: 1rem;
}

#loading-global {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 999999;
}
#loading-global > .loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999999;
  margin: -1em 0 0 -1em;
}

.visible-yes {
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms ease;
  transition-delay: 0ms;
}
.visible-no {
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease, visibility 0ms linear 200ms;
}

.blur-yes {
  filter: blur(3px) saturate(20%);
  transition: filter 500ms ease;
}
.blur-no {
  filter: blur(0px) saturate(100%);
  transition: filter 500ms ease;
}