:root {
  /* core */
  --color-primary: #00afb5;
  --color-secondary: #333745;
  --color-accent: #e63462;
  --color-light: #f4f9f9;
  --color-dark: #0c0f0f;

  /* utility */
  --color-focus: #4AF;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "themify-icons.css";
@import "style.scss";