<template>
  <div>
    <div
      id="loading-global"
      :class="{ 'visible-yes': loading, 'visible-no': !loading }"
    >
      <Spinner></Spinner>
    </div>
    <notifications />
    <div id="main" :class="{ 'blur-yes': loading, 'blur-no': !loading }">
      <span id="bg" class="ti-bolt-alt"></span>
      <Nav></Nav>
      <router-view></router-view>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Spinner from "@/components/Spinner.vue";
import Nav from "@/views/Nav.vue";

@Component({
  components: {
    Nav,
    Spinner
  }
})
export default class App extends Vue {
  public get loading(): Boolean {
    return this.$store.state.loading;
  }
}
</script>

<style lang="scss">

</style>
